<mat-toolbar color="primary">
  <span class="appTitle"><a routerLink="/">Post It!</a></span>
  <span class="appDescrip">&nbsp; - a place to speak your mind!</span>
  <span class="spacer"></span>
  <ul>
     <!-- <li>
      <a mat-button routerLink="/" routerLinkActive="mat-accent">Posts</a>
    </li> -->
     <li *ngIf="userAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent" class="navLinks">Create Post</a>
    </li>
    <li *ngIf="!userAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent" class="navLinks">Log In</a>
    </li>
    <li *ngIf="!userAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent" class="navLinks">Sign Up</a>
    </li>
    <li *ngIf="userAuthenticated">
      <button mat-button [disabled] class="dName" class="navLinks">{{this.displayName}}</button>
    </li>
    <br>
    <li *ngIf="userAuthenticated">
      <button mat-button (click)="onLogOut()" class="navLinks">Log Out</button>
    </li>
  </ul>
</mat-toolbar>
