mat-toolbar {
  width: 100%;
}

.appTitle {
  font-family: 'Permanent Marker', cursive;
  font-size: 35px;
}
.appDescrip {
  font-family: 'Permanent Marker', cursive;
  font-size: 15px;
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

p {
  font-size: 10px;
}
.dName {
  cursor: none;
  text-shadow: 1 1 1;
}

@media only screen and (max-width: 900px) {
  .appTitle {
    font-size: 20px;
  }
  .appDescrip {
    display: none;
  }
  .navLinks {
    font-size: 13px;
  }
}
